{% extends 'base.html.twig' %}
{% block catalogbook %}
 <style>
            .pagenavbar {
                color: black;
                text-align: center;
            }
            .size {
                width:200px;
                height: 100px;
                overflow: hidden; /* Обрезаем содержимое */
                padding: 5px; /* Поля */
                text-overflow: ellipsis; /* Многоточие */
                color: black;
            }
            img {
                border-radius: 50%;
            }
 </style>
    {#<div class="row">#}
    {#{% for book in books %}#}
        {#{% if book %}#}
            {#<div class="col-sm-3" style="background-color:white;">#}
                {#<div class="card" style="width: 18rem;">#}
                    {#<div class="card-body">#}
                        {#<h5 class="size"> <p>{{ book.title }}</p></h5>#}
                        {#<h5 class="size"> <p>{{ book.isbn }}</p></h5>#}
                        {#<h5 class="size"> <p>{{ book.pubYear }}</p></h5>#}
                        {#<a href="/putBook/{{ book.id }}"><p>PutBook</p></a>#}
                        {#<a href="/deleteBook/{{ book.id }}"><p>deleteBook</p></a>#}
                        {#<a href=/setAuthor/{{ book.id }}><p>Set author {{ book.title}} </p></a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% endif %}#}
    {#{% endfor %}#}
    {#</div>#}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Book's Catalog
            <small>View and change items</small>
        </h1>
        <div class="row">
            {% for book in books %}
                {% if book %}
                    <div class="col-lg-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href=/book/{{book.id }}> <p>{{ book.title }}</p></a>
                                </h4>
                                <p class="card-text">
                                <h5 class="size"> <p>{{ book.isbn }}</p></h5>
                                <h5 class="size"> <p>{{ book.pubYear }}</p></h5>
                                </p>
                                <a href="/putBook/{{ book.id }}"><p>PutBook</p></a>
                                <a href="/deleteBook/{{ book.id }}"><p>deleteBook</p></a>
                                <a href=/setAuthor/{{ book.id }}><p>Set author {{ book.title}} </p></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{%endblock%}