{% extends 'base.html.twig' %}
{% block catalogauthors %}

 <!-- Page Content -->
<div class="container">

<!-- Page Heading -->
<h1 class="my-4">Author's Catalog
    <small>View and change items</small>
</h1>
    <div class="row">
    {% for author in authors %}
        {% if author %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="Chekhov.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <p>Author:</p>
                                <p><a href=/book/{{author.id }}> <p>{{ author.name }}</p></a>
                            </h4>
                            <p class="card-text"><h5 class="size">
                            <p>management:</p>
                            </h5>
                            </p>
                            <a href="/putAuthor/{{author.id }}"><p>put author</p></a>
                            <a href="/delete/{{author.id }}"><p>delete author</p></a>
                        </div>
                    </div>
                </div>
        {% endif %}
    {% endfor %}
        </div>
        </div>
    <footer class="container-fluid">
        <div class="pagenavbar">
            <div class="navigation" >
                {{ knp_pagination_render(authors) }}
            </div>
        </div>
    </footer>
{%endblock%}
