{% block infobook %}
    <div class="container">
    <p> {{ title }}</p>
    <p>{{ isbn }}</p>
    <p>{{ pubYear }}</p>
    {% if author %}
        <p>{{ author.firstName }}</p>
            <p>{{ author.lastName }}</p>
        <p>{{ author.middleName }}</p>
        </div>
    {% endif %}
{% endblock %}
