{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block putbook %}
    {% if book %}
        <p>Change this Book's data</p>
        <p>First name : {{ book.title }}</p>
        <p>Last name : {{ book.pubYear }}</p>
        <p>Middle name : {{ book.isbn }}</p>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-dark">add</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
